In [1]:
import os
os.chdir("../")

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("data/raw/strava_data_24_07_2024.csv")
df.head()

,resource_state,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,id,start_date,...,from_accepted_tag,pr_count,total_photo_count,has_kudoed,athlete.id,athlete.resource_state,map.id,map.summary_polyline,map.resource_state,workout_type
0,2,Evening Workout,0.0,1871,1871,0.0,Workout,Workout,11964337555,2024-07-23T18:36:13Z,...,False,0,0,False,112963899,1,a11964337555,NaN,2,NaN
1,2,Morning Workout,0.0,1972,1972,0.0,Workout,Workout,11916553016,2024-07-18T06:02:19Z,...,False,0,0,False,112963899,1,a11916553016,NaN,2,NaN
2,2,Evening Walk,2844.7,1988,2023,14.2,Walk,Walk,11907682491,2024-07-16T18:33:47Z,...,False,0,0,False,112963899,1,a11907682491,suj_IivlpABbAH^LFb@JPL^`@JDL?ZMz@i@^M`ASpAGv@U...,2,NaN
3,2,Morning Workout,0.0,1690,1690,0.0,Workout,Workout,11907689470,2024-07-16T07:00:57Z,...,False,0,0,False,112963899,1,a11907689470,NaN,2,NaN
4,2,Evening Walk,3137.3,1563,1563,11.4,Walk,Walk,11872606726,2024-07-12T17:45:32Z,...,False,0,0,False,112963899,1,a11872606726,}si_IiwlpAK{@Co@@MDOGOKu@B{@?[Ks@Cw@DYL]HMJCp@...,2,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 52 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   resource_state                 182 non-null    int64
 1   name                           182 non-null    object
 2   distance                       182 non-null    float64
 3   moving_time                    182 non-null    int64
 4   elapsed_time                   182 non-null    int64
 5   total_elevation_gain           182 non-null    float64
 6   type                           182 non-null    object
 7   sport_type                     182 non-null    object
 8   id                             182 non-null    int64
 9   start_date                     182 non-null    object
 10  start_date_local               182 non-null    object
 11  timezone                       182 non-null    object
 12  utc_offset                     182 non-null    float64
 13  location_city                  0 non-null      float64
 14  location_state                 0 non-null      float64
 15  location_country               182 non-null    object
 16  achievement_count              182 non-null    int64
 17  kudos_count                    182 non-null    int64
 18  comment_count                  182 non-null    int64
 19  athlete_count                  182 non-null    int64
 20  photo_count                    182 non-null    int64
 21  trainer                        182 non-null    bool
 22  commute                        182 non-null    bool
 23  manual                         182 non-null    bool
 24  private                        182 non-null    bool
 25  visibility                     182 non-null    object
 26  flagged                        182 non-null    bool
 27  gear_id                        19 non-null     object
 28  start_latlng                   182 non-null    object
 29  end_latlng                     182 non-null    object
 30  average_speed                  182 non-null    float64
 31  max_speed                      182 non-null    float64
 32  has_heartrate                  182 non-null    bool
 33  average_heartrate              80 non-null     float64
 34  max_heartrate                  80 non-null     float64
 35  heartrate_opt_out              182 non-null    bool
 36  display_hide_heartrate_option  182 non-null    bool
 37  elev_high                      92 non-null     float64
 38  elev_low                       92 non-null     float64
 39  upload_id                      95 non-null     float64
 40  upload_id_str                  95 non-null     float64
 41  external_id                    95 non-null     object
 42  from_accepted_tag              182 non-null    bool
 43  pr_count                       182 non-null    int64
 44  total_photo_count              182 non-null    int64
 45  has_kudoed                     182 non-null    bool
 46  athlete.id                     182 non-null    int64
 47  athlete.resource_state         182 non-null    int64
 48  map.id                         182 non-null    object
 49  map.summary_polyline           20 non-null     object
 50  map.resource_state             182 non-null    int64
 51  workout_type                   8 non-null      float64
dtypes: bool(10), float64(14), int64(14), object(14)
memory usage: 61.6+ KB

In [9]:
df["start_date"]

0      2024-07-23T18:36:13Z
1      2024-07-18T06:02:19Z
2      2024-07-16T18:33:47Z
3      2024-07-16T07:00:57Z
4      2024-07-12T17:45:32Z
               ...
177    2023-02-09T17:07:29Z
178    2023-02-03T16:27:29Z
179    2023-01-31T18:23:53Z
180    2023-01-28T17:37:57Z
181    2023-01-27T16:13:22Z
Name: start_date, Length: 182, dtype: object

In [10]:
df['start_date'] = pd.to_datetime(df['start_date'])
df['start_date_local'] = pd.to_datetime(df['start_date_local'])

0     2024-07-23 18:36:13+00:00
1     2024-07-18 06:02:19+00:00
2     2024-07-16 18:33:47+00:00
3     2024-07-16 07:00:57+00:00
4     2024-07-12 17:45:32+00:00
                 ...
177   2023-02-09 17:07:29+00:00
178   2023-02-03 16:27:29+00:00
179   2023-01-31 18:23:53+00:00
180   2023-01-28 17:37:57+00:00
181   2023-01-27 16:13:22+00:00
Name: start_date2, Length: 182, dtype: datetime64[ns, UTC]

In [12]:
df['distance_km'] = df['distance'] / 1000
df['distance_km']

0      0.0000
1      0.0000
2      2.8447
3      0.0000
4      3.1373
        ...
177    1.4769
178    0.0000
179    0.0000
180    0.0000
181    1.4726
Name: distance_km, Length: 182, dtype: float64

In [7]:
def check_data_quality(data):
    
    # Check if DataFrame is empty
    if data.empty:
        print('No activities extracted!')
        return False

    # Check for uniqueness of the 'id' column
    if pd.Series(data['id']).is_unique:
        print("All values in 'id' are unique. Data integrity is maintained.")
        return True
    else:
        print("Primary Key Exception: Duplicate values found in 'id' column.")
        return False

In [8]:
check_data_quality(df)

All values in 'id' are unique. Data integrity is maintained.

In [ ]:
def transform_data(data):
    
    data = data.copy()
    
    # Drop duplicate rows
    data = data.drop_duplicates()
    
    # Convert dates to date format
    data['start_date'] = pd.to_datetime(data['start_date'])
    data['start_date_local'] = pd.to_datetime(data['start_date_local'])

    return data